p {
    font-size: large;
    color: antiquewhite
}

body {
    background-color: blueviolet;
    padding: 5px;
    margin: 8px;
    display: block;
}

h1 {
    color: antiquewhite
}

h2 {
    color: antiquewhite
}

#mainHeading {
    align-self: center;
    color: red;
}

img {
    border-radius: 12px;
    max-width: 25%;
}

.funParagraph {
    color: green;
}